<template>
    <div class="header">
        <div>
            <a href="">UNALONE</a>
        </div>

        <div>
            <a href="news">NEWS</a>
            <a href="activities">ACTIVITIES</a>
            <a href="stories">STORIES</a>
            <a href="about">ABOUT</a>
            <a href="contact">CONTACT</a>
        </div>
    </div>
</template>