<template>
    <div>
        <Header />

        <div class="banner">
            <div class="banner-content">
                <h1>
                    The <br>
                    Unalone <br>
                    Project
                </h1>
                <br>
                <p>
                    Unalone is a distributed peer-to-peer community
                    of people who help each other to deal with loneliness
                </p>
            </div>
        </div>

        <div class="ribbon">
            <h1>
                How <br>
                can you <br>
                help
            </h1>

            <div class="ribbon-content">
                <h2 class="title"><i>join a meetup</i></h2>
                <p>find a local meetup and join other lonely people >></p>
            </div>

            <div class="ribbon-content">
                <h2 class="title"><i>host an event</i></h2>
                <p>we can share resouces and help you organize it >></p>
            </div>

            <div class="ribbon-content">
                <h2 class="title"><i>share ideas</i></h2>
                <p>do you have ideas on how to combat loneliness, share them with us >></p>
            </div>
        </div>


    </div>
</template>

<script>
    import Header from './header'

    export default {
        components: {
            Header
        },
    }
</script>