{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="banner">
        <div class="banner-content">
            <h1>
                The <br>
                Unalone <br>
                Project
            </h1>
            <br>
            <p>
                Unalone is a distributed peer-to-peer community
                of people who help each other to deal with loneliness
            </p>
        </div>
    </div>

    <div class="ribbon">
        <div class="ribbon-content">
            <h1>
                How <br>
                can you <br>
                help
            </h1>
        </div>

        <div class="ribbon-content">
            <h2 class="title black-ter"><i>join a meetup</i></h2>
            <p>find a local meetup and join other lonely people >></p>
        </div>

        <div class="ribbon-content">
            <h2 class="title black-ter"><i>host an event</i></h2>
            <p>we can share resources and help you organize it >></p>
        </div>

        <div class="ribbon-content">
            <h2 class="title black-ter"><i>share ideas</i></h2>
            <p>do you have ideas on how to combat loneliness, share them with us >></p>
        </div>
    </div>

    <section class="posts-main-previews">

        {% for post in posts %}
            <div class="post-main-preview">
                {% image post.specific.cover original as cover %}

                <a href="{% pageurl post %}">
                    <div class="post-image" style="background-image: url('{{ cover.url }}')"></div>
                </a>
                <h1 class="title"><a href="{% pageurl post %}">{{ post.title }}</a></h1>


                <div class="content">
                    {{ post.specific.summary }}
                </div>

                <a href="{% pageurl post %}" class="continue-reading"><i class="continue-reading">Continue
                    reading
                    →</i></a>
            </div>
        {% endfor %}

    </section>

{% endblock %}