{% load menu_tags %}

<div>

    {% for item in menu_items %}

    <div class="menu-item">
        <a href="{{ item.href }}">
            {% if item.has_children_in_menu %}
            <i class="fas fa-chevron-down"></i>
            {% endif %}
            {{ item.text | upper }}
        </a>
        {% if item.has_children_in_menu %}
            {% sub_menu item template="menus/desktop_sub_menu.html" %}
        {% endif %}
    </div>
        
    {% endfor %}

</div>