{% load menu_tags %}

<div class="menu-sub-item-container">

    {% for item in menu_items %}

    <div class="menu-sub-item-container">
        <a class="menu-sub-item" href="{{ item.href }}">{{ item.text | upper }}</a>
    </div>

    {% endfor %}

</div>