{% load menu_tags %}

<div class="burger-sub-menu-container">

    {% for item in menu_items %}

    <a class="menu-sub-item" href="{{ item.href }}">{{ item.text | upper }}</a>

    {% endfor %}

</div>