@import url('https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans|Noto+Serif');


@import "colors";


body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: whitesmoke;
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  color: $black-ter;
}


a {
  color: $black-ter;
  text-decoration: none;

  &:link {
    color: $black-ter;
  }

  &:visited {
    color: $black-ter;
  }

  &:active {
    color: $black-ter;
  }
}


h1 h2 h3 h4 h5 h6 {
  margin: 0.2em 0;
  padding: 0;
  font-weight: lighter;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
}