.burger {
  input:checked {
    transform: none;
  }

  input:checked ~ div {
    transform: translateX(-100%);
  }

  input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
  }

  input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg);
  }

  input:checked ~ span:nth-child(4) {
    opacity: 0;
  }

  @include from-tablet {
    display: none;
  }

  div {
    transition: all 0.5s ease;
  }

  span {
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    display: block;
    width: 2em;
    height: 0.3em;
    background: $black-ter;
    border-radius: 3px;
    margin-top: 0.3em;
    z-index: 10;

    transition: all 0.5s ease;
  }

  span:nth-child(2) {
    transform: translateY(-200%);
  }

  span:nth-child(4) {
    transform: translateY(200%);
  }

}


.burger-item {
  margin: 0.6em 2em;
}


.burger-sub-menu-container {
  display: flex;
  flex-direction: column;
  margin: 0.4em 2em;
}


.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 75vw;
  background: hsla(0, 0%, 100%, 0.8);
  font-family: 'Comfortaa', sans-serif;

  .burger-menu-item {
    margin-left: 2em;
    padding: 0.1em;
  }

  .burger-menu-spacer {
    height: 4em;
  }

  .burger-social {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    .burger-social-item {
      font-size: 1em;
      padding: 0.3em;
    }
  }

}


.burger-toggle {
  position: fixed;
  z-index: 20;
  top: 1.5em;
  right: 2em;
  width: 2em;
  height: 2em;
  opacity: 0;
  cursor: pointer;
  /*justify-content: center;
  align-items: center;*/
}