@import "colors";
@import "mixins";


.content {

  margin: 2em auto;
  text-align: justify;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;

  @include mobile {
    width: 90vw;
  }

  @include tablet {
    width: 75vw;
  }

  @include desktop {
    width: 60vw;
  }

  a {
    &:link {
      color: deepskyblue;
    }
  }

  h1 h2 h3 h4 h5 h6 {
    font-weight: lighter;
  }

  hr {
    border-top: 1px solid slategray;
    margin: 2em 0;
  }

  p {
    margin: 1.5em 0;
  }

  ol ul {
    margin: 2em 1em;
  }

  .quote {
    color: $orange;
    margin: 1em auto;

    &:before {
      content: "“";
    }

    &:after {
      content: "”";
    }

    @include touch {
      font-size: 2em;
    }

    @include desktop {
      font-size: 2em;
    }
  }

  .subtitle {
    color: $orange;

    @include touch {
      font-size: 1.2em;
    }

    @include desktop {
      font-size: 1.4em;
    }
  }

  .title {
    color: $orange;

    @include touch {
      font-size: 2em;
    }

    @include desktop {
      font-size: 3em;
    }
  }

}