@import "colors";

.menu {

}


.menu-item {

  &:hover {
    .menu-sub-item-container {
      display: flex;
      flex-direction: column;
    }
  }

}


.menu-sub-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 10em;
  padding: 0.2em;

  &:hover {
    background: $white-ter;
  }
}


.menu-sub-item-container {
  background: $white;
  position: absolute;
  display: none;
}