@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans|Noto+Serif");
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: whitesmoke;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  color: #4E4E4E;
}

a {
  color: #4E4E4E;
  text-decoration: none;
}
a:link {
  color: #4E4E4E;
}
a:visited {
  color: #4E4E4E;
}
a:active {
  color: #4E4E4E;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0.2em 0;
  padding: 0;
  font-weight: lighter;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
}

.burger input:checked {
  transform: none;
}
.burger input:checked ~ div {
  transform: translateX(-100%);
}
.burger input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}
.burger input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg);
}
.burger input:checked ~ span:nth-child(4) {
  opacity: 0;
}
@media only screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}
.burger div {
  transition: all 0.5s ease;
}
.burger span {
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  display: block;
  width: 2em;
  height: 0.3em;
  background: #4E4E4E;
  border-radius: 3px;
  margin-top: 0.3em;
  z-index: 10;
  transition: all 0.5s ease;
}
.burger span:nth-child(2) {
  transform: translateY(-200%);
}
.burger span:nth-child(4) {
  transform: translateY(200%);
}

.burger-item {
  margin: 0.6em 2em;
}

.burger-sub-menu-container {
  display: flex;
  flex-direction: column;
  margin: 0.4em 2em;
}

.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 75vw;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Comfortaa", sans-serif;
}
.burger-menu .burger-menu-item {
  margin-left: 2em;
  padding: 0.1em;
}
.burger-menu .burger-menu-spacer {
  height: 4em;
}
.burger-menu .burger-social {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.burger-menu .burger-social .burger-social-item {
  font-size: 1em;
  padding: 0.3em;
}

.burger-toggle {
  position: fixed;
  z-index: 20;
  top: 1.5em;
  right: 2em;
  width: 2em;
  height: 2em;
  opacity: 0;
  cursor: pointer;
  /*justify-content: center;
  align-items: center;*/
}

.content {
  margin: 2em auto;
  text-align: justify;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
@media only screen and (max-width: 768px) {
  .content {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .content {
    width: 75vw;
  }
}
@media only screen and (min-width: 1024px) {
  .content {
    width: 60vw;
  }
}
.content a:link {
  color: deepskyblue;
}
.content h1 h2 h3 h4 h5 h6 {
  font-weight: lighter;
}
.content hr {
  border-top: 1px solid slategray;
  margin: 2em 0;
}
.content p {
  margin: 1.5em 0;
}
.content ol ul {
  margin: 2em 1em;
}
.content .quote {
  color: #FF6B58;
  margin: 1em auto;
}
.content .quote:before {
  content: "“";
}
.content .quote:after {
  content: "”";
}
@media only screen and (max-width: 1023px) {
  .content .quote {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .content .quote {
    font-size: 2em;
  }
}
.content .subtitle {
  color: #FF6B58;
}
@media only screen and (max-width: 1023px) {
  .content .subtitle {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1024px) {
  .content .subtitle {
    font-size: 1.4em;
  }
}
.content .title {
  color: #FF6B58;
}
@media only screen and (max-width: 1023px) {
  .content .title {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .content .title {
    font-size: 3em;
  }
}

.menu-item:hover .menu-sub-item-container {
  display: flex;
  flex-direction: column;
}

.menu-sub-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 10em;
  padding: 0.2em;
}
.menu-sub-item:hover {
  background: #e6e6e6;
}

.menu-sub-item-container {
  background: whitesmoke;
  position: absolute;
  display: none;
}

.banner {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 769px) {
  .banner {
    width: 100vw;
    height: 60vh;
    background-image: url("/static/img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.banner-content {
  color: whitesmoke;
  background: #FF6B58;
  padding: 1.5em;
}
@media only screen and (max-width: 768px) {
  .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }
}
@media only screen and (min-width: 769px) {
  .banner-content {
    width: 40vh;
    height: 40vh;
    margin-left: 12vw;
  }
}
.banner-content h1 {
  line-height: 1em;
  font-weight: bold;
}

.black-ter {
  color: #4E4E4E;
}

.blue {
  color: #539CB6;
}

.break-line {
  margin: 1em auto 0.5em;
  display: block;
  width: 100%;
  height: 1px;
  background: #4E4E4E;
}

.date {
  font-size: 0.8em;
  font-weight: lighter;
}

.fa-icon {
  font-size: 1.4em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.5em 0 1em;
  width: 100vw;
  background: #4E4E4E;
  color: #e6e6e6;
  font-size: 0.8em;
  font-weight: lighter;
}
.footer a {
  color: #e6e6e6;
  font-weight: bold;
}

.continue-reading {
  margin: 0.5em 0;
  font-size: 1em;
  color: #FF6B58;
}
.continue-reading a {
  color: #FF6B58;
}
.continue-reading a:active {
  color: #FF6B58;
}
.continue-reading a:visited {
  color: #FF6B58;
}
.continue-reading a:link {
  color: #FF6B58;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.8em;
  padding: 0 1em;
}
.header a {
  text-decoration: none;
  padding: 0.8em;
}
.header a:link {
  color: #4E4E4E;
}
.header a:visited {
  color: #4E4E4E;
}
.header .active {
  border: #4E4E4E 1px solid;
  border-radius: 5px;
}
.header .drop-down {
  padding: 0.65em;
}
.header .drop-down:hover .drop-down-content {
  display: block;
}
.header .drop-down-content {
  display: none;
  position: absolute;
  background: whitesmoke;
  min-width: 10em;
  z-index: 5;
}
.header .header-brand {
  display: flex;
}
.header .header-end {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header .header-end {
    display: none;
  }
}
.header .header-social {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .header .header-social {
    display: none;
  }
}

.orange {
  color: #FF6B58;
}

.posts-main-previews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}

.post-single {
  margin: 3em auto;
}
@media only screen and (max-width: 768px) {
  .post-single {
    width: 90vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .post-single {
    width: 80vw;
  }
}
@media only screen and (min-width: 1024px) {
  .post-single {
    width: 60vw;
  }
}

.posts-category-all {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}

.post-category-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .post-category-preview {
    flex-direction: column;
  }
}

.post-category-preview-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .post-category-preview-content {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.post-category-image {
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
  background-image: url("/static/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  .post-category-image {
    width: 100%;
  }
}

.post-main-preview {
  display: flex;
  margin: 2em auto;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .post-main-preview {
    width: 90%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .post-main-preview {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .post-main-preview {
    width: 60%;
  }
}

.post-image {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.post-image .titles {
  color: whitesmoke;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
}
@media only screen and (max-width: 768px) {
  .post-image .titles {
    padding: 0.4em 1em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .post-image .titles {
    padding: 0.4em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .post-image .titles {
    padding: 0.4em 4em;
  }
}

.post-main-preview-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: lighter;
}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #539CB6;
  color: whitesmoke;
  margin-top: 0.5em;
  min-height: 25vh;
  width: 100vw;
}
.ribbon .ribbon-content {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  .ribbon .ribbon-content {
    margin: 0.5em 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .ribbon .ribbon-content {
    width: 17vw;
  }
}
.ribbon h1 {
  line-height: 1.2em;
}

.title {
  font-family: "Noto Serif", serif;
  font-size: 2.5em;
  margin: 0;
}

.newsletter {
  padding: 1em;
  background: #FF6B58;
  color: #e6e6e6;
  max-height: 6em;
  max-width: 25em;
  margin: auto;
}
.newsletter h1 {
  font-size: 1.2em;
}

.wip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;
}
.wip .wip-image {
  height: 40vh;
  background-image: url("/static/img/wip.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wip .wip-section {
  margin: 0 auto;
  padding: 2em;
}
@media only screen and (max-width: 768px) {
  .wip .wip-section {
    width: 80vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .wip .wip-section {
    width: 45vw;
  }
}

/*# sourceMappingURL=unalone.css.map */
