{% extends "base.html" %}

{% load unalone_tags %}

{% block content %}

    <div class="posts-category-all">
        {% for post in posts %}
            <div class="post-category-preview">

                <div class="post-category-image"></div>

                <div class="post-category-preview-content">
                    <div>
                        {% comment %}<div class="break-line"></div>{% endcomment %}

                        <a href="{% url "single_story" id=post.id slug=post.slug  %}">
                            <h2 class="title">{{ post.title }}</h2>
                        </a>

                        {{ post.content | markdown | safe | truncatewords_html:60 }}

                        <a href="{% url "single_story" id=post.id slug=post.slug  %}">
                            <i class="blue">
                                keep reading >>
                            </i>
                        </a>
                    </div>

                    <div>
                        <div class="break-line"></div>
                        <div class="post-main-preview-footer">
                            <p>{{ post.type }}</p>
                            <p>{{ post.published }}</p>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}