{% extends "base.html" %}

{% block content %}

    <section class="wip">

        <div class="wip-section">
            <h1 class="orange">Ups! there's nothing here</h1>
            <p>
                We are still working on the website. Try visiting us in the future and maybe
                you'll find what are you looking for.
            </p>
        </div>

        <div class="wip-section wip-image"></div>

    </section>

{% endblock %}